<h2 class="narrow">Client-Side Rendering in real life</h2>
<ul>
    <li>scan the receipt for the ingredients</li>
</ul>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <rect fill="#FFF" height="200" width="400" x="0" y="0"></rect>
    </svg>
    <div class="headline stage-prop">
        <span>Grandma's Pasta</span>
    </div>
    <div class="ingredients stage-prop">
        <span>Ingredients</span>
        <ul>
            <li>300g penne</li>
            <li>4 tomatoes</li>
            <li>100g parmesan</li>
        </ul>
    </div>
    <div class="method stage-prop">
        <span>Method</span>
    </div>
</div>
