<h2>About me</h2>
<h3>Christoph Guttandin</h3>
<ul>
    <li>self employed at <a href="https://media-codings.com/">Media Codings</a> building multimedia apps for the browser</li>
    <li>usually named chrisguttandin at <a href="https://github.com/chrisguttandin">Github</a>, <a href="https://twitter.com/chrisguttandin">Twitter</a>, <a href="https://stackoverflow.com/users/3211046/chrisguttandin">Stack Overflow</a>, <a href="https://angularjs-de.slack.com">Slack</a>, <a href="https://www.npmjs.com/~chrisguttandin">NPM</a>, ...</li>
</ul>
