.stage {
    position: relative;
}

.stage-prop {
    position: absolute;
}

.headline {
    color: #000;
    font-size: 200%;
    font-weight: bold;
    height: 0;
    margin: 12.5% 0 0 32.5%;
    padding-bottom: 5%;
    text-align: center;
    width: 35%;
}

.headline .blue {
    color: #4285F4;
}

.headline .red {
    color: #DB4437;
}

.headline .yellow {
    color: #F4B400;
}

.headline .green {
    color: #0F9D58;
}

.input {
    color: #000;
    height: 0;
    margin: 27.5% 0 0 32.5%;
    padding-bottom: 5%;
    text-align: left;
    width: 35%;
}

.input span {
    font-size: 180%;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }

}

.input span:after {
    animation: 1s blink step-end infinite;
    color: #000;
    content: '|';
}

.button {
    background-color: #CCC;
    color: #000;
    height: 0;
    margin: 40% 0 0 37.5%;
    padding-bottom: 5%;
    text-align: center;
    width: 25%;
}

.button span {
    line-height: 2.5em;
}
