<h2 class="narrow">Client-Side Rendering in real life</h2>
<ul>
    <li>search for a receipt</li>
</ul>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <rect fill="#FFF" height="200" width="400" x="0" y="0"></rect>

        <rect fill="none" height="40" stroke="#000" stroke-width="2" width="150" x="125" y="100"></rect>
    </svg>
    <div class="headline stage-prop">
        <span class="blue">P</span>
        <span class="red">a</span>
        <span class="yellow">a</span>
        <span class="blue">s</span>
        <span class="green">t</span>
        <span class="red">a</span>
    </div>
    <div class="input stage-prop">
        <span>delicious pasta</span>
    </div>
    <div class="button stage-prop">
        <span>I'm Feeling Lucky</span>
    </div>
</div>
