<svg class="hidden" version="1.1">
    <defs>
        <g id="bowl-background">
            <path
                d="M 150 150 h 100 l 10 -40 c -24 -18 -96 -18 -120 0 z"
                fill="#000"
                stroke="#000"
                stroke-linejoin="round"
                stroke-width="2"
            ></path>
        </g>
        <g id="bowl-foreground">
            <path
                d="M 150 150 c 20 15 80 15 100 0 l 10 -40 c -24 18 -96 18 -120 0 z"
                fill="#000"
                stroke="#000"
                stroke-linejoin="round"
                stroke-width="2"
            ></path>
        </g>
        <linearGradient id="pasta">
            <stop offset="0" stop-color="#DA1"></stop>
            <stop offset="0.5" stop-color="#EB3"></stop>
            <stop offset="1" stop-color="#DA1"></stop>
        </linearGradient>
        <g id="noodle">
            <path d="M 3 0 h 20 c 3 2 3 8 0 10 h -20 c -3 -2 -3 -8 0 -10 z" fill="url(#pasta)"></path>
        </g>
        <g id="noodle-with-sauce">
            <use xlink:href="#noodle"></use>

            <path d="M 8 0 h 10 c -2 3 -8 3 -10 0 z" fill="#C3002F"></path>
        </g>
        <g id="noodles-with-sauce">
            <use transform="translate(140 105)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(150 102) rotate(20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(160 107) rotate(-20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(170 103) rotate(10)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(180 105) rotate(-20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(190 103) rotate(20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(200 104) rotate(10)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(210 106) rotate(-20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(220 102) rotate(20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(230 105) rotate(-5)" xlink:href="#noodle-with-sauce"></use>

            <use transform="translate(150 112) rotate(20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(160 117) rotate(-20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(170 113) rotate(10)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(180 115) rotate(-20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(190 113) rotate(20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(200 114) rotate(10)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(210 116) rotate(-20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(220 112) rotate(20)" xlink:href="#noodle-with-sauce"></use>
            <use transform="translate(230 112) rotate(-15)" xlink:href="#noodle-with-sauce"></use>
        </g>
    </defs>
</svg>
