<h2 class="narrow">Client-Side Rendering in real life</h2>
<ul>
    <li>begin to arrange what's done already</li>
</ul>
<div class="stage">
    <amb-defs></amb-defs>
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <rect fill="#FFF" height="200" width="400" x="0" y="0"></rect>

        <use xlink:href="#bowl-background"></use>

        <use transform="translate(140 105)" xlink:href="#noodle"></use>
        <use transform="translate(150 102) rotate(20)" xlink:href="#noodle"></use>
        <use transform="translate(160 107) rotate(-20)" xlink:href="#noodle"></use>
        <use transform="translate(170 103) rotate(10)" xlink:href="#noodle"></use>
        <use transform="translate(180 105) rotate(-20)" xlink:href="#noodle"></use>
        <use transform="translate(190 103) rotate(20)" xlink:href="#noodle"></use>
        <use transform="translate(200 104) rotate(10)" xlink:href="#noodle"></use>
        <use transform="translate(210 106) rotate(-20)" xlink:href="#noodle"></use>
        <use transform="translate(220 102) rotate(20)" xlink:href="#noodle"></use>
        <use transform="translate(230 105) rotate(-5)" xlink:href="#noodle"></use>

        <use transform="translate(150 112) rotate(20)" xlink:href="#noodle"></use>
        <use transform="translate(160 117) rotate(-20)" xlink:href="#noodle"></use>
        <use transform="translate(170 113) rotate(10)" xlink:href="#noodle"></use>
        <use transform="translate(180 115) rotate(-20)" xlink:href="#noodle"></use>
        <use transform="translate(190 113) rotate(20)" xlink:href="#noodle"></use>
        <use transform="translate(200 114) rotate(10)" xlink:href="#noodle"></use>
        <use transform="translate(210 116) rotate(-20)" xlink:href="#noodle"></use>
        <use transform="translate(220 112) rotate(20)" xlink:href="#noodle"></use>
        <use transform="translate(230 112) rotate(-15)" xlink:href="#noodle"></use>

        <use xlink:href="#bowl-foreground"></use>
    </svg>
</div>
