<h1>the real life</h1>
<p>you are very hungry for some delicious pasta</p>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <rect fill="#FFF" height="200" width="400" x="0" y="0"></rect>

        <rect fill="#CCC" height="40" width="40" x="0" y="0"></rect>
        <rect fill="#CCC" height="40" width="80" x="60" y="0"></rect>
        <rect fill="#CCC" height="40" width="80" x="160" y="0"></rect>
        <rect fill="#CCC" height="40" width="80" x="260" y="0"></rect>
        <rect fill="#CCC" height="40" width="40" x="360" y="0"></rect>

        <rect fill="#CCC" height="80" width="40" x="0" y="60"></rect>
        <rect fill="#CCC" height="80" width="80" x="60" y="60"></rect>
        <rect fill="#CCC" height="80" width="80" x="160" y="60"></rect>
        <rect fill="#CCC" height="80" width="80" x="260" y="60"></rect>
        <rect fill="#CCC" height="80" width="40" x="360" y="60"></rect>

        <rect fill="#CCC" height="40" width="40" x="0" y="160"></rect>
        <rect fill="#CCC" height="40" width="80" x="60" y="160"></rect>
        <rect fill="#CCC" height="40" width="80" x="160" y="160"></rect>
        <rect fill="#CCC" height="40" width="80" x="260" y="160"></rect>
        <rect fill="#CCC" height="40" width="40" x="360" y="160"></rect>

        <rect fill="#0D47A1" height="40" width="40" x="160" y="100"></rect>

        <!-- delivery service -->
        <rect fill="#DD0031" height="40" width="40" x="100" y="0"></rect>

        <!-- supermarket -->
        <rect fill="#C3002F" height="40" width="40" x="260" y="160"></rect>
    </svg>
    <div class="delivery-service-label label stage-prop">
        <span>delivery service</span>
    </div>
    <div class="home-label label stage-prop">
        <span>your home</span>
    </div>
    <div class="label stage-prop supermarket-label">
        <span>supermarket</span>
    </div>
</div>
