<h2>Prerendering in real life</h2>
<ul>
    <li>order your favorite meal</li>
</ul>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 400 200">
        <rect fill="#FFF" height="200" width="400" x="0" y="0"></rect>
    </svg>
    <div class="headline stage-prop">
        <span>Simple Delivery</span>
    </div>
    <div class="menu stage-prop">
        <span>CALL 030 DELIVERY</span>
        <ul>
            <li>burger<span class="price">5 €</span></li>
            <li>pasta<span class="price">5 €</span></li>
            <li>pizza<span class="price">5 €</span></li>
        </ul>
    </div>
</div>
